@import '../../sass/variables';

.details {
  display: flex;
  height: 100vh;
  padding-top: 2rem;
  background: #eee;

  .details-container {
    padding: 1rem;
    width: 100%;
    height: 80%;
    margin: 35px auto;

    .options {
      select {
        margin: 10px;
        border: 1px solid #444;
        border-radius: 5px;

        

        &:focus {
          outline: none;
        }
      }
    }
  }

  .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    background: #e1e1e1;
    // border-top-right-radius: 5rem;
    // border-bottom-right-radius: 5rem;
    width: fit-content;

    .name {
      margin: 2rem;
      font-size: 2em;
      padding: 1rem;
      border-radius: 24px;
      background: $secondary;
      color: #444;
      font-weight: bold;
    }

    .details-img-icon {
      width: 50%;
    }

  }
}
