@import '../../sass/variables';

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    text-decoration: underline;
  }

  p {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 !important;
    border-bottom: 4px solid $secondary;
    width: 100%;
    height: 7rem;
    color: #fff;
    background: $primary;
    text-align: center;
  }
}