// stylelint-disable selector-pseudo-class-no-unknown, property-no-unknown

$primary: #009eff;
$secondary: #00e7ff;
$background: #e1f5fa;

:export {
  primary: $primary;
  secondary: $secondary;
  background: $background;
}
