@import '../../sass/variables';

.cryptos-container {
  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

  .crypto-link {
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      text-decoration: underline;
      background: $secondary !important;
      color: #444 !important;
    }
  }
}
