@use '../../sass/variables' as v;

.cryptos-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 33.33%));

  .crypto-link {
    text-decoration: none;
    transition: all 0.3s;
    position: relative;
    margin: 4rem 1rem 0 1rem !important;
    text-align: center;
    height: 15rem;

    img {
      position: absolute;
      top: -50px;
      height: 100px;
      padding: 8px;
      border-radius: 50%;
      background: #ccc !important;
      transition: border-radius 0.3s, background 0.3s, transform 0.3s;
    }

    &:hover {
      background: v.$secondary !important;
      color: #444 !important;

      img {
        border-radius: 30%;
        background: #fff !important;
        transform: scale(1.1);
      }
    }
  }
}
